#######################################
# EDITORS
#######################################

# IntelliJ IDEA
.idea/*
!.idea/dataSources.xml

# JetBrains Fleet
.fleet/*

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Secret files
secrets

#######################################
# MISCELLANEOUS
#######################################

# Helm Subcharts
*.tgz
Chart.lock

# Distribution folder
dist/*
build/*

# Tests
*.test

# Vault data
data/*
!data/.gitkeep

# Coverage tool output
*.out
